table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
  border-style: dotted;
}
th, td {
  background-color: #9bbdcc;
}
body {
    background-image: url(res/MainBg.png);
    background-repeat: no-repeat;
    background-size: 1920px, 1080px;
}

.subforum-title {
	background-color: #5d7580;
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
}

.subforum-title-pad {
  background-color: rgb(115.55, 130.07, 171.33);
  border-radius: 5px;
  width: 650px;
}

.funnywhite{
  font-family: Courier, monospace;
  color: #cfcfcf;
}

     


